{% from 'bootstrap5/form.html' import render_form %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blefescu</title>
    <link rel="stylesheet" href = "{{ url_for('static', filename='css/main.css') }}"" />
    {{ bootstrap.load_css() }}
</head>
<body>
    <div class="title">
        <h1> Blefescu </h1>
    </div>
    
    <div class = "container">
        {{ render_form(link_form, form_type="inline") }}
        {% if short_link %}
        <a class="short-link" href = {{ short_link }}> {{ short_link }} </a>
        {% endif %}
    </div>
  
</body>
</html>

