{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<div class="container text-center mt-5">
    <div class="row">
        <div class="col"></div>
        <div class="col-8 d-flex flex-column align-items-center">
            <div class="row">
                <p class="display-3"> Blefescu </p>
            </div>
            <div class="row mt-1">
                <div class="col">
                    {{ render_form(link_form) }}
                </div>
                {% if short_link %}
                <div class="col mt-3">
                    <h2><a class="short-link text-success" href="{{ short_link }}">@{{ short_link }}</a></h2>
                </div>
                {% endif %}
            </div>
            <div class="row mt-2">
                
            </div>

        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock %}

<!--

-->